body {
	display: flex;
	justify-content: center;
}

.container {
	margin: 0 auto;
}
.row {
	display: flex;
	flex-direction: row;
}

.cell {
	display: flex;
	justify-content: center;
	width: 2em;
	font-family: 'Arial', sans-serif;
	font-size: 10em;
	border: 1px solid #000;
}

#display {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 1em;
	font-family: 'Arial', sans-serif;
	font-size: 3em;
}

.bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.cell:hover {
	cursor: pointer;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

button {
	font-family: 'Arial', sans-serif;
	font-size: 3em;
}

.hidden {
	display: none;
}

.shown {
	display: initial;
}